SECRET_KEY="django-insecure-g-vmqs^zir+)s3yx%9+p&l&xc+p%@t90)j&4$+wo-pu6tpa2ie"
DEBUG=True
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
EMAIL_FROM=noreply@example.com
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
