{% extends "base.html" %}

{% block title %}Статистика{% endblock %}

{% block content %}
<h1>Статистика</h1>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-center text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Успешно</h5>
                <p class="display-4">{{ total_success }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center text-white bg-danger">
            <div class="card-body">
                <h5 class="card-title">Не успешно</h5>
                <p class="display-4">{{ total_failed }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Всего отправлено</h5>
                <p class="display-4">{{ total_sent }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
